.primeiro_paragrafo:hover{
    font-size:200%;
    font-weight: bold;
    color: crimson;
    background-color:white;
    transition: 1s;
    transition-delay:0.2s;
}

body{
    background-image: linear-gradient(
        darkblue,
        black
        );
        height: 100vh;
}

body {
    color:white;
}